.bt_tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10;
    
    .flexbox &, .flexboxlegacy & {
        @include display(flex);
    }
}

.bt_tab {
    background-color: $defBgColor;
    border-right: 1px solid rgba(black, 0.25);;
    cursor: pointer;
    // margin-left: -0.25em;
    max-width: 400px;
    padding: 0.5em;

    .no-flexbox & {
        display: inline-block;
        vertical-align: baseline;
    }
    @include selection(true) {
        background: transparent;
    }
}

.notab {
    // would love to use this for down-arrow triangle, but it doesn't work for some reason
    // url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" stroke="black" fill="black" height="15" width="15" viewBox="-30 150 250 250"><path d="M147.2344 230.625 L86.3438 345.7969 L25.5938 230.625 L147.2344 230.625 Z" stroke=""/></svg>')
    background-color: $defBgColor;
    cursor: pointer;
    height: 100%;
    flex: none;
    position: absolute;
    right: 0;
    width: 25px;
    // z-index: 99;

    > .bt_toggle {
        border: 5px solid;
        border-color: $defFgColor transparent transparent transparent;
        content: '';
        display: block;
        height: 0;
        margin: 0.5em auto;
        @include transform(translateY(3px));
        width: 0;
    }
}

.bt_list {
    background-color: $defBgColor;
    color: $defFgColor;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: left;
    @include transform(scale(1,0));
    @include transform-origin(50% 0);
    transition: all 0.25s;
    top: 100%;
    width: 150px;

    .notab.#{$showClass} > & {
        @include transform(scale(1,1));
    }
    .no-csstransform & {
        display: none;

        .notab.#{$showClass} > & {
            display: block;
        }
    }
}
.bt_listItem {
    border-top: 1px solid rgba(black, 0.25);
    box-sizing: border-box;
    padding: 0.25em 1.25em 0.25em 0.25em;
    position: relative;
    transition: background-color 0.25s;

    &:hover {
        background-color: rgba(white, 0.25);
    }
    &:first-child {
        border-top: none;
    }
    &#{$markedClass} {
        &:before {
            content: '*';
            display: inline-block;
            margin-right: 0.5em;
        }
    }
}