.bt_tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    
    .flexbox &, .flexboxlegacy & {
        @include display(flex);
    }
}

.bt_tab {
    cursor: pointer;
    margin-left: -0.25em;
    max-width: 400px;
    padding: 0.5em;

    .no-flexbox & {
        display: inline-block;
        vertical-align: baseline;
    }
}